<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>777</title>
    <style>
        .a{
            color:red;
        }
        .b{
            color:blue;
        }
        ul{
            list-style-type:none;
            display: block;
        }
        li{
            float: left; 
            padding: 15px;  
        }
    </style>
</head>
<body>
    <div id="app">
        <ul v-for="(attr,index) in attrs">
            <li v-for="(a,i) in attr" @click="select(index,a.value,a.disable)" :class="{ a:!a.disable, b:a.isactive}" >{{a.value}}</li>
            <div style="clear: both;"></div>
        </ul>
    </div>   
</body>
</html>